 <!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
    <title>Крестраж</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
     <script src="http://code.jquery.com/jquery-latest.js"></script>
      <link rel = "stylesheet" href="/styles.css"/>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

 </head>
<body>
   
     
   <header>
   
           </header>
<nav>
    <ul class="top-fixed_ul">
        
     
        
       <!-- <li class="top-fixed_li imgos" style="float: left;"><a></a></li> -->
          
        <li class="navwishes top-fixed_li "><a href="/wishes/">Желания</a></li>
        <li class="top-fixed_li navmenu navgroups"><a href="/groups">Группы</a></li>
        <li class="top-fixed_li navmenu navacc"><a href="/user/<%= user %>/">Аккаунт </a></li>
        <li class="top-fixed_li"  style="float: none;"><p class="maintext" >Крестраж!</p></li>
    </ul>
</nav>            
                 <form method="POST"  text-align="center">
     <div class="container">
  <div class="row">
            
                   <div class="col-sm"><button class="add" style="display: none" id = "1" type="submit">Добавить</button></div>
                </div>
</div>
      <div class="col-sm"><input type=text size="75"  rows="1" class="input" style="margin-top: 10%; margin-bottom: 0; font-family: 'Amatic SC', cursive; font-size: 2.2em; outline:none; border: 0px; text-align: center; height: 100%;"  id = "input" name="AddWish" placeholder="Добавить группу"/></div>
                    <hr style="margin-top: 0;">
     </form>
      <h4 style="margin-bottom: 0; font-family: 'Amatic SC', cursive; font-size: 1.7em" >*Ваши группы*</h4>
 
    
    
    
         <div style="text-align:center;">
 
                          <div class="container">
                            <div class="row">
                     <div class="col-sm">Группа</div>
                     <div class="col-sm">Автор</div>
                     <div class="col-sm">Опции</div>
                </div>
               <p></p>
                  <form text-align="center">
                      <div class="container">
              <% for (var i = (data.length - 1); i >= 0; i--){ %> 
                 
                            <div class="row">
                  
                      
          <!-- Выбрана -->   <% if (selected == data[i].Name){  %>
                                
                                <div class="col-sm"><a class="Group"  style="color: greenyellow;"> <%= data[i].Name %> </a></div> 
                                    <% } else {%>
      <!-- Не выбрана -->        
                                <div class="col-sm"><a class="Group" href = "/select/<%= data[i].uniqid %>"> <%= data[i].Name %> </a></div> 
                                 <% }  %>
                                    <div class="col-sm">
                                        <%= data[i].Author %>
                                    </div>
                                <div class="col-sm"><nav class="one"> <ul class="topmenu"><li><a href="#"><span style="color: green; text-decoration: none;" class="set">Опции</span><i class="fa fa-angle-down"></i></a> <ul class="submenu">
  <li><a href='delete/<%= data[i].uniqid %>/' style="color: brown">Удалить</a></li>
  <li><a href="/groups/<%= data[i].uniqid %>" style="color: blue">Меню</a></li>                 
</ul></li></ul> </nav></div>
                                     </div> 
                                 <hr>
                                                       
                              <% }  %>
                            </div>    
                                </form>
                              </div>
             <script>
                          $("#input").keyup(function(event){
                          if(event.keyCode == 13){
                          $("#1").click();
                          $(this).val('');
                                                 }
                                                                   });
                      </script>
                              </div>
      
        
     
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
        
      </body>
</html>