 <!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
    <title>Крестраж</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
     <script src="http://code.jquery.com/jquery-latest.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        
        
        
        hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 80%;
   }
        
        body {
             text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            background-color: #FFFF;
             color: black;
    text-align:center;
    margin-top: 5%;
}
table {
   
    border-collapse: separate;
    width: 90%;
   margin-left:5%;
     margin-right:5%;
}
         a { 
             color: black;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

th, td {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
    .Group:hover{
    
    color: greenyellow;
   
}

tr:nth-child(even){background-color: #b7b7b7}

th {
    font-size: 1.2em;
   background-color: white;
   
    color: black;
}
textarea {
    width: 70%;
    padding: 1%;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.1em;
    outline: none;
	-moz-appearance: none;
	border: 1px solid #b7b7b7;
    resize: none;
	overflow: auto;
}
        
.add {
    background-color: #b7b7b7;
    border: none;
    color: white;
    width: 100%;
    padding: 10% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}     
        
        ul {
            text-decoration: none;
  list-style: none; 
  margin: 0;
  padding: 0;
}
.topmenu > li {
    
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
        
        .topmenu > li:hover {
    
  color: red;
}
.topmenu > li:last-child {
  margin-right: 0;
     color:red;
}

.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.submenu {
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
    
}
        
        .one ul {
  
}
.one ul a {
 
}
.one .submenu {
  display: none;
    
  
}
.one ul li:hover .submenu {
   color: aqua;
  display: block;
}
        
.top-fixed_ul {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(192,192,192, 0.1);
    position: fixed;
   display: table;
   text-align: center;
    top: 0;
    width: 100%;
     
       vertical-align: middle;
}

.top-fixed_li {
   
    float: right;
     vertical-align: middle;
}

.top-fixed_li a {
  
    transition: 0.1s;
    display: block;
    color: black;
    bottom: 0;
    padding: 2em;
    text-decoration: none;
     display: inline-block;
     float: none;
       vertical-align: middle;
   
}

.top-fixed_li a:hover {
    color: white;
}

.active {
    background-color: #4CAF50;
}
     
     .groupButtonSelected
     {
         margin-left: 1%;
        background-color: green;
         color: white;
         border: 0px solid green;
         border-radius: 10%;
     }  
     
     
     .src {
         transition: 1s;
    position: relative;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

[type="submit"] {
    margin: 27px 0 0 0;
    font-family: 'Poiret One', cursive; 
    letter-spacing: 1.5px;
   
    display: block;
    vertical-align: middle;
    padding: 9px 0;
    max-width: 300px;
    width: 100%;
    border: 1px solid #111;
    background: transparent;
    -webkit-transition: all .34s ease-in-out;
    -o-transition: all .34s ease-in-out;
    transition: all .34s ease-in-out;
    font-size: 1.5em;
}

.line__wrap span {
  display: block;
  background: #0dff00;
  position: absolute;
  margin: 0;
  padding: 0;
}

.src:hover .line__wrap span:nth-of-type(1){ 
  width: 0%; height: 2px; top: 0; left: 0; 	
  animation: lineWidth .25s ease-in-out both ;
}
.src:hover .line__wrap span:nth-of-type(2){ 
  width: 2px; height: 0%; top: 0; right: 0;
  animation: lineHeight .25s .25s ease-in-out both ;
}
.src:hover .line__wrap span:nth-of-type(3){ 
  width: 0%; height: 2px; bottom: 0; right: 0; 
  animation: lineWidth .25s .5s ease-in-out both ;
}
.src:hover .line__wrap span:nth-of-type(4){ 
  width: 2px; height: 0%; bottom: 0; left: 0;
  animation: lineHeight .25s .75s ease-in-out both ;
}

@-webkit-keyframes lineWidth { to { width: 100%; } }
   @-moz-keyframes lineWidth { to { width: 100%; } }
     @-o-keyframes lineWidth { to { width: 100%; } }   
        @keyframes lineWidth { to { width: 100%; } }
@-webkit-keyframes lineHeight { to { height: 100%; } }
   @-moz-keyframes lineHeight { to { height: 100%; } }
     @-o-keyframes lineHeight { to { height: 100%; } }   
        @keyframes lineHeight { to { height: 100%; } }
     
   /*  
      .src
     {
         border: 0px;
  display: inline-block;
  position: relative;
 
  border-left: 2px solid #000;
  border-right: 2px solid #000;
     }  
     
      .src:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  transition: all 1s;
}

     

.src:hover:after {
  width: 100%;
}
 */  
        a:hover{
        text-decoration: none;
}
      .groupButton
     {
         background: url();
         margin-left: 1%;
        background-color: #5389a6;
         color: white;
         border: 0px solid #5389a6;
         border-radius: 10%;
     }  
      .WishtdNOTOWNER:hover{
     text-shadow: 0px 0px 2px white
}
        
        .set:hover{
            color:gray;
        }
  .add,
.add:focus {
 margin: 0;
    font-size: 1em;
  color: #ff4fa7;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.1em solid #fff;
    
}

.add:hover{
      color: #ffffff;
  text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #ff4fa7;
    border: 0.1em solid #ff4fa7;
}
        
        .navmenu{
            color: black;
            
        }
        
        .navwishes:hover{
             transition: 0.1s;
            color: white;
            background-color: greenyellow;
        }

        .navgroups:hover{
             transition: 0.1s;
            color: white;
            background-color: blue;
        }
        
        .navacc:hover{
             transition: 0.1s;
            color: white;
            background-color: orange;
        }
        .imgos{
            margin-top: 0%; /* ../imgs/q1tR7Dg0Ano.png */
   content:url('');
            margin-left: 1%;
            width: 6%;/*картинка для 1 пункта*/
            height: auto;
        }
    
   .maintext{
            
           margin-left: 46%;
            margin-right: 54%;
           font-family: 'Amatic SC', cursive;
            font-size: 3em;
         
        }
        
      .hideAll  {
        visibility:hidden;
     }

       
        </style>
 </head>
<body>
    <div id="tabs" class="hideAll">
     
   <header>
   
           </header>
<nav>
    <ul class="top-fixed_ul">
        
     
        
       <!-- <li class="top-fixed_li imgos" style="float: left;"><a></a></li> -->
          
        <li class="navwishes top-fixed_li "><a href="/wishes/">Желания</a></li>
        <li class="top-fixed_li navmenu navgroups"><a href="/groups">Группы</a></li>
        <li class="top-fixed_li navmenu navacc"><a href="/user/<%= user %>/">Аккаунт </a></li>
        <li class="top-fixed_li"  style="float: none;"><p class="maintext" >Крестраж!</p></li>
    </ul>
</nav>            
                 <form method="POST"  text-align="center">
     <div class="container">
  <div class="row">
            
                   <div class="col-sm"><button class="add" style="display: none" id = "1" type="submit">Добавить</button></div>
                </div>
</div>
      <div class="col-sm"><input type=text size="75"  rows="1" class="input" style="margin-top: 10%; margin-bottom: 0; font-family: 'Amatic SC', cursive; font-size: 2.2em; outline:none; border: 0px; text-align: center; height: 100%;"  id = "input" name="AddWish" placeholder="Добавить группу"/></div>
                    <hr style="margin-top: 0;">
     </form>
      <h4 style="margin-bottom: 0; font-family: 'Amatic SC', cursive; font-size: 1.7em" >*Ваши группы*</h4>
 
    
    
    
         <div style="text-align:center;">
 
                          <div class="container">
                            <div class="row">
                     <div class="col-sm">Группа</div>
                     <div class="col-sm">Автор</div>
                     <div class="col-sm">Опции</div>
                </div>
               <p></p>
                  <form text-align="center">
                      <div class="container">
              <% for (var i = (data.length - 1); i >= 0; i--){ %> 
                 
                            <div class="row">
                  
                      
          <!-- Выбрана -->   <% if (selected == data[i].Name){  %>
                                
                                <div class="col-sm"><a class="Group"  style="color: greenyellow;"> <%= data[i].Name %> </a></div> 
                                    <% } else {%>
      <!-- Не выбрана -->        
                                <div class="col-sm"><a class="Group" href = "/select/<%= data[i].uniqid %>"> <%= data[i].Name %> </a></div> 
                                 <% }  %>
                                    <div class="col-sm">
                                        <%= data[i].Author %>
                                    </div>
                                <div class="col-sm"><nav class="one"> <ul class="topmenu"><li><a href="#"><span style="color: green; text-decoration: none;" class="set">Опции</span><i class="fa fa-angle-down"></i></a> <ul class="submenu">
  <li><a href='delete/<%= data[i].uniqid %>/' style="color: brown">Удалить</a></li>
  <li><a href="/groups/<%= data[i].uniqid %>" style="color: blue">Меню</a></li>                 
</ul></li></ul> </nav></div>
                                     </div> 
                                 <hr>
                                                       
                              <% }  %>
                            </div>    
                                </form>
                              </div>
             <script>
                          $("#input").keyup(function(event){
                          if(event.keyCode == 13){
                          $("#1").click();
                          $(this).val('');
                                                 }
                                                                   });
                      </script>
                              </div>
      
        <script type="text/javascript">
    $(window).load(function () {
        $("#tabs").removeClass("hideAll");
    });
</script>
           <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
        </div>
      </body>
</html>