 <!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>WantIt</title>
     
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
     <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            background-color: #232323;
             color: white;
    text-align:center;
    margin-top: 5%;
}
table {
    background-color: #1e1833;
    border-collapse: separate;
    width: 90%;
   margin-left:5%;
     margin-right:5%;
}
         a { 
             color: white;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

th, td {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
    .Wishtd:hover{
    text-decoration: line-through;
    background: rgba(22,41,48,0.5);
}

tr:nth-child(even){background-color: #162930}

th {
    font-size: 1.2em;
    background-color: #1e1833;
    color: white;
}
textarea {
    width: 70%;
    padding: 1%;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.1em;
    outline: none;
	-moz-appearance: none;
	border: 1px solid #110051;
    resize: none;
	overflow: auto;
}
        
.add {
    background-color: #1e1833;
    border: none;
    color: white;
    width: 100%;
    padding: 10% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}        
     </style>
 </head>
 <body> 
     
   <header>
    <h1 font-size="20px" align="center">WantIT Groups</h1>
           </header>
 <style>
.top-fixed_ul {
    z-index: 100;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.top-fixed_li {
    float: left;
}

.top-fixed_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-fixed_li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
     
     .groupButtonSelected
     {
         margin-left: 1%;
        background-color: green;
         color: white;
         border: 0px solid green;
         border-radius: 10%;
     }  
      .groupButton
     {
         margin-left: 1%;
        background-color: #5389a6;
         color: white;
         border: 0px solid #5389a6;
         border-radius: 10%;
     }  
      .WishtdNOTOWNER:hover{
     text-shadow: 0px 0px 2px white
}
    </style>
<nav>
    <ul class="top-fixed_ul">
        <li class="top-fixed_li"><a href="/wishes/">Желания</a></li>
        <li class="top-fixed_li"><a href="/groups">Группы</a></li>
        <li class="top-fixed_li"><a href="/user/<%= user %>/">Аккаунт </a></li>
    </ul>
</nav>
     <p>
    
         <div style="text-align:center;">
           <table>
                <form method="POST"  text-align="center">
               <tr>
                   <h4>Название вашей группы - <%= selected %></h4>
                    <h5>Пригласительный код: 159.253.21.77:8080/group/invite/<%= data[0].InviteCode %></h5>
               </tr>
               </form>
                <tr>
                    <th>Пользователь</th>
                </tr>
                  <form text-align="center">
               <% for (var i = (data.length - 1); i >= 0; i--){ %>
                <tr>
                    <% if (user == data[i].Author){ %>
                      <% if (data[i].User != data[i].Author){ %>
                    <td onclick='Deltest'><a class="Wishtd" href = "delete/<%= data[i].User %>"><%= data[i].User %> </a> 
                          <% } else { %>
                        <td onclick='Deltest'><a class="WishtdNOTOWNER" ><%= data[i].User %> </a> 
                         <% } %>
                         <% } else { %>
                         <td onclick='Deltest'><a class="WishtdNOTOWNER" href = ""><%= data[i].User %> </a> 
                         <% } %>
                  
               </tr>
               <% }  %>
                      
                      <script>
                          $("#input").keyup(function(event){
                          if(event.keyCode == 13){
                          $("#1").click();
                          $(this).val('');
                                                 }
                                                                   });
                      </script>
               </form>
         </table>

             </div>
          <script Language="JavaScript">   function sleep(ms) {
ms += new Date().getTime();
while (new Date() < ms){}
} 
sleep(20);
</script>
      </body>
</html>