 <!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Крестраж</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
     <script src="http://code.jquery.com/jquery-latest.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        
        hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 80%;
   }
        
        body {
            font-family: 'Montserrat', sans-serif;
            background-color: #FFFF;
             color: black;
    text-align:center;
    margin-top: 5%;
}
table {
   
    border-collapse: separate;
    width: 90%;
   margin-left:5%;
     margin-right:5%;
}
         a { 
             color: black;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

th, td {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
    .Wishtd:hover{
    text-decoration: line-through;
    color: brown;
   
}

tr:nth-child(even){background-color: #b7b7b7}

th {
    font-size: 1.2em;
   background-color: white;
   
    color: black;
}
textarea {
    width: 70%;
    padding: 1%;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.1em;
    outline: none;
	-moz-appearance: none;
	border: 1px solid #b7b7b7;
    resize: none;
	overflow: auto;
}
        
.add {
    background-color: #b7b7b7;
    border: none;
    color: white;
    width: 100%;
    padding: 10% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}        

.top-fixed_ul {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(192,192,192, 0.1);
    position: fixed;
   display: table;
   text-align: center;
    top: 0;
    width: 100%;
     
       vertical-align: middle;
}

.top-fixed_li {
   
    float: right;
     vertical-align: middle;
}

.top-fixed_li a {
  
    transition: 0.1s;
    display: block;
    color: black;
    bottom: 0;
    padding: 2em;
    text-decoration: none;
     display: inline-block;
     float: none;
       vertical-align: middle;
   
}

.top-fixed_li a:hover {
    color: white;
}
.active {
    background-color: #4CAF50;
}
     
     .groupButtonSelected
     {
         margin-left: 1%;
        background-color: green;
         color: white;
         border: 0px solid green;
         border-radius: 10%;
     }  
     
     
     .src {
         transition: 1s;
    position: relative;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

[type="submit"] {
    margin: 27px 0 0 0;
    font-family: 'Poiret One', cursive; 
    letter-spacing: 1.5px;
   
    display: block;
    vertical-align: middle;
    padding: 9px 0;
    max-width: 300px;
    width: 100%;
    border: 1px solid #111;
    background: transparent;
    -webkit-transition: all .34s ease-in-out;
    -o-transition: all .34s ease-in-out;
    transition: all .34s ease-in-out;
    font-size: 1.5em;
}

.line__wrap span {
  display: block;
  background: #0dff00;
  position: absolute;
  margin: 0;
  padding: 0;
}

.src:hover .line__wrap span:nth-of-type(1){ 
  width: 0%; height: 2px; top: 0; left: 0; 	
  animation: lineWidth .25s ease-in-out both ;
}
.src:hover .line__wrap span:nth-of-type(2){ 
  width: 2px; height: 0%; top: 0; right: 0;
  animation: lineHeight .25s .25s ease-in-out both ;
}
.src:hover .line__wrap span:nth-of-type(3){ 
  width: 0%; height: 2px; bottom: 0; right: 0; 
  animation: lineWidth .25s .5s ease-in-out both ;
}
.src:hover .line__wrap span:nth-of-type(4){ 
  width: 2px; height: 0%; bottom: 0; left: 0;
  animation: lineHeight .25s .75s ease-in-out both ;
}

@-webkit-keyframes lineWidth { to { width: 100%; } }
   @-moz-keyframes lineWidth { to { width: 100%; } }
     @-o-keyframes lineWidth { to { width: 100%; } }   
        @keyframes lineWidth { to { width: 100%; } }
@-webkit-keyframes lineHeight { to { height: 100%; } }
   @-moz-keyframes lineHeight { to { height: 100%; } }
     @-o-keyframes lineHeight { to { height: 100%; } }   
        @keyframes lineHeight { to { height: 100%; } }
     
   /*  
      .src
     {
         border: 0px;
  display: inline-block;
  position: relative;
 
  border-left: 2px solid #000;
  border-right: 2px solid #000;
     }  
     
      .src:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  transition: all 1s;
}

     

.src:hover:after {
  width: 100%;
}
 */    
        .hide{
            color:white;
        }
        
      .groupButton
     {
         margin-left: 1%;
        background-color: #5389a6;
         color: white;
         border: 0px solid #5389a6;
         border-radius: 10%;
     }  
      .WishtdNOTOWNER:hover{
     text-shadow: 0px 0px 2px white
}
        
         .navwishes:hover{
             transition: 0.1s;
            color: white;
            background-color: greenyellow;
        }

        .navgroups:hover{
             transition: 0.1s;
            color: white;
            background-color: blue;
        }
        
        .navacc:hover{
             transition: 0.1s;
            color: white;
            background-color: orange;
        }
        
        .maintext{
           
           margin-left: 45%;
            margin-right: 55%;
           font-family: 'Amatic SC', cursive;
            font-size: 3em;
         
        }
          #hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }
       
        </style>
 </head>
<body>
    <div style="display: none" id="hideAll">&nbsp;

     
   <header>
   
           </header>
<nav>
    <ul class="top-fixed_ul">
        
     
        
        <li class="top-fixed_li imgos" style="float: left;"><a></a></li>
          
        <li class="navwishes top-fixed_li "><a href="/wishes/">Желания</a></li>
        <li class="top-fixed_li navmenu navgroups"><a href="/groups">Группы</a></li>
        <li class="top-fixed_li navmenu navacc"><a href="/user/<%= user %>/">Аккаунт </a></li>
        <li class="top-fixed_li"  style="float: none;"><p class="maintext" >Крестраж!</p></li>
    </ul>
</nav>
     <p>
    
         <div style="text-align:center;">
           
                   <h3 style="padding-top: 2%; font-family: 'Poiret One', cursive; font-size: 1.5em"><%= selected %></h3>
                      
                        <p style="color:white;" id="copyTarget" >krestrage.com/invite/<%= data[0].InviteCode %></p>
                       
                    <div class="src">
                   <button id="copyButton" type="submit"><i  class="fa fa-envelope-o"></i>Пригласительный код</button>
                  
  <div class="line__wrap">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
                   <span id="msg"></span><br>
             
                     <h4 style="margin-bottom: 0; font-family: 'Amatic SC', cursive; font-size: 1.7em" >*Пользователи группы*</h4>

             <div class="container">
                
                  <form text-align="center">
                        
               <% for (var i = (data.length - 1); i >= 0; i--){ %> 
                
                   
                   <div class="row">
                       <div class="col-sm">
                  <% if (user == data[i].Author){ %>
                      <% if (data[i].User != data[i].Author){ %> 
                    <a class="Wishtd" href = "delete/<%= data[i].User %>"> <%= data[i].User %>  </a> 
                           <hr>
                       </div>
                         <% } else { %>
                         <div class="col-sm">
                       <a class="WishtdNOTOWNER" ><%= data[i].User %> </a> 
                            <hr>
                              </div>
                       <% } %>
                         <% } else { %>
                        <div class="col-sm">
                        <a class="WishtdNOTOWNER" href = ""><%= data[i].User %> </a> 
                           <hr>
                              </div>
                         <% } %>
                        
               
                      </div>
                        
               <% }  %> 
                      
                  
               </form>
         

           
                     </div>
             </div>
     <script>
         document.getElementById("copyButton").addEventListener("click", function() {
    copyToClipboardMsg(document.getElementById("copyTarget"), "msg");
});

document.getElementById("copyButton2").addEventListener("click", function() {
    copyToClipboardMsg(document.getElementById("copyTarget2"), "msg");
});

document.getElementById("pasteTarget").addEventListener("mousedown", function() {
    this.value = "";
});


function copyToClipboardMsg(elem, msgElem) {
	  var succeed = copyToClipboard(elem);
    var msg;
    if (!succeed) {
        msg = "Копирование не удалось"
    } else {
        msg = "Ключ скопирован"
    }
    if (typeof msgElem === "string") {
        msgElem = document.getElementById(msgElem);
    }
    msgElem.innerHTML = msg;
    setTimeout(function() {
        msgElem.innerHTML = "";
    }, 2000);
}

function copyToClipboard(elem) {
	  // create hidden text element, if it doesn't already exist
    var targetId = "_hiddenCopyText_";
    var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
    var origSelectionStart, origSelectionEnd;
    if (isInput) {
        // can just use the original source element for the selection and copy
        target = elem;
        origSelectionStart = elem.selectionStart;
        origSelectionEnd = elem.selectionEnd;
    } else {
        // must use a temporary form element for the selection and copy
        target = document.getElementById(targetId);
        if (!target) {
            var target = document.createElement("textarea");
            target.style.position = "absolute";
            target.style.left = "-9999px";
            target.style.top = "0";
            target.id = targetId;
            document.body.appendChild(target);
        }
        target.textContent = elem.textContent;
    }
    // select the content
    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);
    
    // copy the selection
    var succeed;
    try {
    	  succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }
    
    if (isInput) {
        // restore prior selection
        elem.setSelectionRange(origSelectionStart, origSelectionEnd);
    } else {
        // clear temporary content
        target.textContent = "";
    }
    return succeed;
}</script>
  <script>  window.onload = function() 
  { document.getElementById("hideAll").style.display = "none"; }</script>
         </div>
      </body>
</html>